dist/

.vscode
compiler/

Modules/Models/*

semanticSearch_onnx/*

Modules/llama-cpp/*

resource/Vosk_Model/*

test/*

openclaude

*.log
*.onnx
*.gguf

!.gitkeep

Manager/target/**
Manager/deps/**
Manager/build/**
Manager/incremental/**
Manager/.fingerprint/**
Manager/ava-tray


.venv/**

.env

*.pyc